.app-bar {
  overflow: auto;
  background-color: #ffffff;
  border-bottom: 1px solid #c0c0c0;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.18); }
  .app-bar .app-bar-logo {
    float: left;
    background-color: #ff8314; }
    .app-bar .app-bar-logo img {
      width: 30.3px;
      height: 25.8px;
      object-fit: contain;
      padding: 0.5em; }
  .app-bar .app-bar-title {
    display: inline-block;
    background-color: #ffffff; }
    .app-bar .app-bar-title h1 {
      font-family: Lato;
      font-size: 24px;
      color: #ff8314;
      margin-left: 1em;
      line-height: 15px; }
