.hotel-card {
  width: 351px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.18);
  margin: 1em;

  div.hotel-content-container {
    padding: 0.5em;
    overflow: auto;

    img.hotel-image {
      float: left;
      border-radius: 5px;
      width: 103px;
      height: 100px;
    }

    h1.hotel-title {
      display: inline;
      padding-left: 0.5em;
      font-family: Lato;
      font-size: 14px;
      font-weight: 600;
      text-align: left;
      color: #686868;
    }

    p.hotel-address {
      display: none;
      padding-left: 0.5em;
      width: 210px;
      height: 15px;
      font-family: Lato;
      font-size: 12px;
      text-align: left;
      color: #686868;
    }

    div.hotel-rating-container {
      display: inline;
      padding: 0 0.5em;

      .fa-star {
        color: #FF8314;
      }
    }

    p.hotel-reviews {
      display: inline;
      padding-left: 0.5em;
      font-family: Lato;
      font-size: 13px;
      font-weight: 500;
      text-align: left;
      color: #686868;
    }

    div.hotel-amenities {
      float: right;
      padding: 0 1em;
      margin: 0 1em;

      p.hotel-amenity {
        width: 32px;
        height: 16px;
        font-family: Lato;
        font-size: 13px;
        font-weight: 500;
        text-align: left;
        margin: 0.5em 0;
        color: #686868;
      }
    }

    div.hotel-prices-container {
      clear: both;

      div.retail-price {
        margin: 0.5em 0.5em 0.5em 0;
        display: inline-block;
        width: 156px;
        height: 94px;
        text-align: center;
        border-radius: 5px;
        border: solid 1px #d0021b;

        h1 {
          font-family: Lato;
          font-size: 24px;
          text-align: center;
          color: #d0021b;
        }

        h1.more-expensive {
          text-decoration: line-through;
        }

        div {
          line-height: 1.7em;
        }
      }

      div.our-price {
        margin: 0.5em 0 0.5em 0.5em;
        display: inline-block;
        width: 156px;
        height: 94px;
        text-align: center;
        border-radius: 5px;
        background-color: rgba(65, 117, 5, 0.02);
        border: solid 1px #417505;

        h1 {
          font-family: Lato;
          font-size: 24px;
          font-weight: 500;
          text-align: center;
          color: #417505;
        }

        div.hotel-details-button {
          border-radius: 4px;
          background-color: #4f9f22;
          box-shadow: 0 2px 4px 0 rgba(79, 159, 34, 0.5);
          font-family: Lato;
          font-size: 14px;
          font-weight: 500;
          color: #ffffff;
          line-height: 2em;
          margin: 0 2em;
        }
      }
    }
  }

}
