form {
  padding: 1em 0; }
  form input#city {
    box-sizing: border-box;
    height: 43px;
    border-style: none;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 #c4c4c4;
    width: calc(100% - 2em);
    margin: 0.5em 1em;
    padding: 0 1em;
    font-family: Lato;
    font-size: 14px;
    color: #787878; }
  form input#check-in, form input#check-out {
    height: 43px;
    border-style: none;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 #c4c4c4;
    margin: 0.5em 1em;
    padding: 0 1em;
    font-family: Lato;
    font-size: 14px;
    color: #787878; }
  form button {
    width: 46px;
    height: 43px;
    border-style: none;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 #bbbbbb;
    padding: 1em; }
