button#price, button#rating, button#savings {
  text-align: left;
  box-sizing: border-box;
  height: 43px;
  border-style: none;
  box-shadow: 0 0 4px 0 #c4c4c4;
  width: calc(100% - 2em);
  margin: 0.5em 1em;
  padding: 0 1em;
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  color: #787878;
  background-color: #f0f0f0; }

button#price.active, button#rating.active, button#savings.active {
  background-color: #ffffff; }
  button#price.active i, button#rating.active i, button#savings.active i {
    float: right;
    color: #ff8314; }
